<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension id="qiviconbndbuildernature" name="QIVICON bnd builder nature" point="org.eclipse.core.resources.natures">
		<runtime>
			<run class="com.qivicon.bndbuilder.QiviconBuilderNature"/>
		</runtime>
		<requires-nature id="org.eclipse.jdt.core.javanature"/>
		<builder id="com.qivicon.bndbuilder.qiviconbndbuilder"/>
	</extension>

	<extension id="qiviconbndbuilder" name="QIVICON bnd builder" point="org.eclipse.core.resources.builders">
		<builder hasNature="true">
			<run class="com.qivicon.bndbuilder.QiviconBuilder"/>
		</builder>
	</extension>

	<extension point="org.eclipse.ui.menus">
		<menuContribution locationURI="popup:org.eclipse.ui.popup.any">
			<command 
				commandId="com.qivicon.bndbuilder.AddNatureCommand"
				label="Add QiviconBndBuilder nature"
				style="push">
				<visibleWhen checkEnabled="false">
					<with variable="activeMenuSelection">
						<iterate ifEmpty="false">
							<!-- Enable only on Java Projects -->
							<instanceof value="org.eclipse.jdt.core.IJavaProject" />
						</iterate>
					</with>
				</visibleWhen>
			</command>
			<command
				commandId="com.qivicon.bndbuilder.RemoveNatureCommand"
				label="Remove QiviconBndBuilder nature"
				style="push">
				<visibleWhen checkEnabled="false">
					<with variable="activeMenuSelection">
						<iterate ifEmpty="false">
							<!-- Enable only on Java Projects -->
							<instanceof value="org.eclipse.jdt.core.IJavaProject" />
						</iterate>
					</with>
				</visibleWhen>
			</command>
		</menuContribution>
	</extension>
	<extension point="org.eclipse.ui.handlers">
		<handler
			commandId="com.qivicon.bndbuilder.AddNatureCommand"
			class="com.qivicon.bndbuilder.AddNatureCommand"/>
		<handler
			commandId="com.qivicon.bndbuilder.RemoveNatureCommand"
			class="com.qivicon.bndbuilder.RemoveNatureCommand"/>
	</extension>
	<extension point="org.eclipse.ui.commands">
		<command
			id="com.qivicon.bndbuilder.AddNatureCommand"
			name="Add QiviconBuilder nature"
			description=""/>
		<command
			id="com.qivicon.bndbuilder.RemoveNatureCommand"
			name="Remove QiviconBuilder nature"
			description="Remove QiviconBuilder nature"/>
	</extension>
</plugin>
