<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension id="qiviconbndbuilder" name="QIVICON bnd builder" point="org.eclipse.core.resources.builders">
		<builder>
			<run class="com.qivicon.bndbuilder.QiviconBuilder">
				<parameter name="optimize" value="true" />
				<parameter name="comment" value="QIVICON Builder" />
			</run>
		</builder>
	</extension>
	<extension point="org.eclipse.core.resources.natures" id="qiviconbndbuildernature" name="QIVICON bnd builder Nature">
		<runtime>
			<run class="com.qivicon.bndbuilder.QiviconBuilderNature">
			</run>
		</runtime>
		<requires-nature id="org.eclipse.jdt.core.javanature"/>
	</extension>
</plugin>
