<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension id="de.janhendriks.java2bnd.nature" name="Java2bnd nature" point="org.eclipse.core.resources.natures">
		<runtime>
			<run class="de.janhendriks.java2bnd.Nature"/>
		</runtime>
		<requires-nature id="org.eclipse.jdt.core.javanature"/>
		<builder id="de.janhendriks.java2bnd.builder"/>
	</extension>

	<extension id="de.janhendriks.java2bnd.builder" name="Java2bnd builder" point="org.eclipse.core.resources.builders">
		<builder hasNature="true">
			<run class="de.janhendriks.java2bnd.Builder"/>
		</builder>
	</extension>

	<extension point="org.eclipse.ui.menus">
		<menuContribution locationURI="popup:org.eclipse.ui.popup.any">
			<command 
				commandId="de.janhendriks.java2bnd.AddNatureCommand"
				label="Add Java2bnd nature"
				style="push">
				<visibleWhen checkEnabled="false">
					<with variable="activeMenuSelection">
						<iterate operator="or">
							<adapt type="org.eclipse.core.resources.IResource">
								<and>
									<test property="org.eclipse.core.resources.projectNature" value="org.eclipse.jdt.core.javanature" />
									<not>
										<test property="org.eclipse.core.resources.projectNature" value="de.janhendriks.java2bnd.nature" />
									</not>
									<not>
										<test property="org.eclipse.core.resources.projectNature" value="bndtools.core.bndnature" />
									</not>
								</and>
							</adapt>
						</iterate>
					</with>
				</visibleWhen>
			</command>
			<command
				commandId="de.janhendriks.java2bnd.RemoveNatureCommand"
				label="Remove Java2bnd nature"
				style="push">
				<visibleWhen checkEnabled="false">
					<with variable="activeMenuSelection">
						<iterate operator="or">
							<adapt type="org.eclipse.core.resources.IResource">
								<and>
									<test property="org.eclipse.core.resources.projectNature" value="org.eclipse.jdt.core.javanature" />
									<test property="org.eclipse.core.resources.projectNature" value="de.janhendriks.java2bnd.nature" />
									<not>
										<test property="org.eclipse.core.resources.projectNature" value="bndtools.core.bndnature" />
									</not>
								</and>
							</adapt>
						</iterate>
					</with>
				</visibleWhen>
			</command>
		</menuContribution>
	</extension>
	<extension point="org.eclipse.ui.handlers">
		<handler
			commandId="de.janhendriks.java2bnd.AddNatureCommand"
			class="de.janhendriks.java2bnd.AddNatureCommand"/>
		<handler
			commandId="de.janhendriks.java2bnd.RemoveNatureCommand"
			class="de.janhendriks.java2bnd.RemoveNatureCommand"/>
	</extension>
	<extension point="org.eclipse.ui.commands">
		<command
			id="de.janhendriks.java2bnd.AddNatureCommand"
			name="Add Java2bnd nature"
			description="Add Java2bnd nature"/>
		<command
			id="de.janhendriks.java2bnd.RemoveNatureCommand"
			name="Remove Java2bnd nature"
			description="Remove Java2bnd nature"/>
	</extension>
</plugin>
